.button {
    width: 207px;
    height: 52px;
    background-color: $color-primary;
    border-radius: 100px;
    color: $color-font-button;
    font-family: $font-main;
    @include font($size: 1.7rem, $height: 130%, $space: 1.02px);
    border: none;
}

.button_not-only {
    margin-top: 40px;
}

.button_slider {
    width: 187px;
    height: 52px;
    background: transparent;
    border: 1px solid $color-primary;
    margin-top: 30px;
}

.button_our-friend {
    margin-top: 61px;
    width: 21.8%;
    color: $color-font-button;
    &-pets {
        width: 52px;
        height: 52px;
        @include font($size: 2rem, $height: 115%, $space: 1.2px);
        @include flex($justify-content: center);
        padding-bottom: 3px;

        &[disabled] {
            background-color: transparent;
            border: 1px solid $color-font-subheading;
            color: $color-font-subheading;            
        }
    }
}

.button_next {
    background-color: transparent;
    border: 1px solid $color-primary;
    color: $color-font-button;
}

