$color-primary: #F1CDB3;
$color-hover: #FDDCC4;
$color-friends: #F6F6F6;

$color-font-primary: #545454;
$color-font-heading: #FFF;
$color-font-subheading: #CDCDCD;
$color-font-nav-hover: #FAFAFA;
$color-font-description: #4C4C4C;
$color-font-button: #292929;
$color-font-info: #B2B2B2;

$font-main: 'Georgia', serif;
$font-additional: 'Arial', sans-serif;

$content-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;
