.wrapper {
    width: $content-width;
    padding: 0 40px;
    margin: 0 auto;
    text-align: center;
}

.container_welcome {
    padding: 35px 0px 35px;
}
.container_favorite {
    padding-bottom: 0;
}

.container_coffee-shop,
.container_library-cards {
  padding-bottom: 40px;
}

.container_contacts {
    padding-bottom: 38px;
}
